:root {
  font-family: "Inconsolata", monospace; }

.review-form p {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template: "label input" 30px ". error" 35px / auto 1fr; }
  .review-form p label {
    grid-area: label; }
  .review-form p input,
  .review-form p textarea {
    grid-area: input;
    height: 20px;
    width: 200px;
    border: 0;
    border-bottom: 1px solid var(--slum-grey-light);
    justify-self: end; }
    .review-form p input:focus,
    .review-form p textarea:focus {
      outline: none;
      border-bottom-color: var(--slum-pink); }
  .review-form p .django-form__field-error {
    justify-self: end;
    grid-area: error; }

.django-form__field-error {
  color: var(--slum-pink); }

django-form::part(django-form) {
  display: flex;
  flex-direction: column;
  width: 450px; }

django-form::part(django-form__submit-button) {
  border: 1px solid var(--slum-cyan-dark);
  color: var(--slum-cyan-dark);
  border-radius: 3px;
  height: 30px;
  background-color: white;
  width: 55px;
  align-self: flex-end;
  margin: 10px 0; }
  django-form::part(django-form__submit-button):hover {
    background-color: var(--slum-grey-lightest); }
  django-form::part(django-form__submit-button):focus {
    outline: none; }
  django-form::part(django-form__submit-button):active {
    color: var(--slum-pink);
    border-color: var(--slum-pink); }

.reviews {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 3rem;
  row-gap: 3rem; }
  .reviews__card {
    padding: 10px;
    border: 1px solid var(--slum-grey-lightest);
    border-bottom-color: var(--slum-pink);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr; }
    .reviews__card p:nth-child(even) {
      justify-self: end; }
  .reviews__rating {
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin: 10px;
    background-image: var(--slum-rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
