.home__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center; }

.feed {
  width: 50%; }
  .feed__review {
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template: "tenant rating" 30px "address landlord" 30px / 1fr auto;
    gap: 10px;
    border: 1px solid var(--slum-grey-lightest);
    border-bottom-color: var(--slum-pink); }
    .feed__review p {
      margin: 0; }
  .feed__label {
    font-size: var(--font-size-xs);
    color: var(--slum-pink);
    text-align: end; }
  .feed__tenant {
    grid-area: tenant;
    font-weight: bold;
    color: var(--slum-purple); }
  .feed__rating {
    grid-area: rating;
    justify-self: end; }
  .feed__address {
    grid-area: address; }
  .feed__landlord {
    grid-area: landlord;
    justify-self: end; }
  .feed__rating {
    font-size: var(--font-size-xl);
    font-weight: bold;
    background-image: var(--slum-rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
