{% extends 'review/base.html' %}
{% block content %}
  <sections class="reviews">
  {% for review in reviews %}
    <div class="reviews__card">
      <p>rating:</p>
      <p class="reviews__rating"> {{ review.rating }}</p>
      <p>landlord:</p>
      <p> {{ review.rental.landlord.first_name }} {{ review.rental.landlord.last_name }}</p>
      <p>rental:</p>
      <p> {{ review.rental.address }}</p>
      <p>description:</p>
      <p> {{ review.description }}</p>
    </div>
  {% endfor %}
  </sectoin>
{% endblock content %}
