{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'shared/css/bundle.css' %}" />
    <script type="module" src="{% static 'shared/js/bundle.js' %}"></script>
    {% block title %}
    {% endblock title %}
    {% block links %}
    {% endblock links %} {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    <section>
      <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'map:view' %}">map</a></li>
        <li><a href="{% url 'review:create' %}">create review</a></li>
        <li><a href="{% url 'review:list' %}">list review</a></li>
        <li>{% include 'shared/includes/login_panel.html' %}</li>
      </ul>
    </section>
    {% block base_content %}
    {% endblock base_content %}
  </body>
</html>
